/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

$colors: (
    primary: #F2F2F2,
    secondary: #43A1FF,
    text: #070043,
    heading: #212121,
    button: #FFCE00,
    text-grey: #9B9B9B,
    border: #D3D3D3,
    accent: #EBEBEB,
    blue: #070043,
    white: #FFFFFF,
    red: #FB3721,
    yellow: #FFCE00
);

.wp-block-cgb-block-button  {
    .btn {
        border-radius: 999px;
        background-color: map-get($colors, button);
        border: 2px solid map-get($colors, button);
        font-size: 15px;
        display: inline-block;
        font-weight: 600;
        text-decoration: none;
        padding: 18px 26px;
        outline: none;
        line-height: 1.2;
        cursor: pointer;
        text-transform: uppercase;
        min-width: 150px;
        text-align: center;

        i {
            font-size: 24px;
            margin: -10px 0;
        }

        span + i {
            margin-left: 4px;
        }

        i + span {
            margin-left: 4px;
        }
    }
}
