/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

$colors: (
    primary: #F2F2F2,
    secondary: #43A1FF,
    text: #070043,
    heading: #212121,
    button: #FFCE00,
    text-grey: #9B9B9B,
    border: #D3D3D3,
    accent: #EBEBEB,
    blue: #070043,
    white: #FFFFFF,
    red: #FB3721,
    yellow: #FFCE00
);

.wp-block-cgb-related  {
    border: 2px solid rgba(0, 0, 0, .2);
    padding: 30px;
    font-size: 30px;

    .overview-items {
        display: flex;
        text-align: center;

        .overview__items__item {
            flex: 1 1 auto;
            padding: 100px 20px;
            background-color: #e2e2e2;
            margin: 20px;
            text-align: left;
        }
    }
}