@import '~slick-carousel/slick/slick.scss';

/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

$colors: (
    primary: #F2F2F2,
    secondary: #43A1FF,
    text: #070043,
    heading: #212121,
    button: #FFCE00,
    text-grey: #9B9B9B,
    border: #D3D3D3,
    accent: #EBEBEB,
    blue: #070043,
    white: #FFFFFF,
    red: #FB3721,
    yellow: #FFCE00
);

.wp-block-cgb-slider {
    .slider {
        position: relative;

        .slider__slide {
            position: relative;
            height: 400px;
            background-position: center;
            background-size: cover;

            .slider__caption {
                position: absolute;
                bottom: 0;
                left: 0;
                color: #FFF;
                padding: 20px;
                max-width: 600px;
                font-size: 15px;
            }
        }

        .slider__buttons {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .slider__button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border: 2px solid map-get($colors, yellow);
            border-radius: 100%;
            color: map-get($colors, yellow);
            font-size: 24px;
            margin: 0 5px;
            cursor: pointer;

            &:hover {
                background-color: map-get($colors, yellow);
                color: #FFF;
            }
        }
    }

    .image-slider-image-list .image-slider-image-list-item,
    .image-slider-image-list .image-slider-add-item {
        margin: 10px;
        position: relative;
    }

    .image-slider-controls {
        .image-slider-image-list {
            display: flex;
            flex-wrap: wrap;
            margin: 25px 0;

            .image-slider-image-list-item {
                img {
                    height: 50px;
                    display: block;
                    cursor: pointer;
                }

                .image-slider-image-list-item-remove {
                    position: absolute;
                    top: -8px;
                    right: -8px;
                    color: #fff;
                    background-color: red;
                    border-radius: 50%;
                    padding: 2px;
                }
            }
        }
    }
}
