/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

$colors: (
    primary: #F2F2F2,
    secondary: #43A1FF,
    text: #070043,
    heading: #212121,
    button: #FFCE00,
    text-grey: #9B9B9B,
    border: #D3D3D3,
    accent: #EBEBEB,
    blue: #070043,
    white: #FFFFFF,
    red: #FB3721,
    yellow: #FFCE00
);

.wp-block-cgb-text  {
    border: 2px solid rgba(0, 0, 0, .2);
    padding: 40px 30px;

    .left {
        width: 100%;
    }

    .page {
        > .block-editor-inner-blocks {
            > .block-editor-block-list__layout {
                display: flex;

                .block-editor-block-list__block {
                    min-height: 50px;

                    &:first-child {
                        flex: 1 1 350px;
                    }

                    &:last-child {
                        flex: 1 1 100%;
                        padding: 0 30px;
                    }
                }

            }
        }
    }
}
