/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

$colors: (
    primary: #F2F2F2,
    secondary: #43A1FF,
    text: #070043,
    heading: #212121,
    button: #FFCE00,
    text-grey: #9B9B9B,
    border: #D3D3D3,
    accent: #EBEBEB,
    blue: #070043,
    white: #FFFFFF,
    red: #FB3721,
    yellow: #FFCE00
);

.wp-block-cgb-steps  {
    border: 2px solid rgba(0, 0, 0, .2);
    padding: 30px;

    .step {
        display: flex;
        border: 2px solid rgba(0, 0, 0, .2);
        border-width: 2px 0 0;
        padding: 20px 0;

        &:last-child {
            border-width: 2px 0;
        }

        .editor-rich-text {
            width: 100%;
        }

        .step__number {
            font-size: 100px;
            flex: 0 0 150px;
            line-height: 1;
        }

        .step__content {
            flex: 1 1 100%;
            
            .step__title {
                font-size: 30px;
                font-weight: bold;
            }
        }
    }
}