/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

$colors: (
    primary: #F2F2F2,
    secondary: #43A1FF,
    text: #070043,
    heading: #212121,
    button: #FFCE00,
    text-grey: #9B9B9B,
    border: #D3D3D3,
    accent: #EBEBEB,
    blue: #070043,
    white: #FFFFFF,
    red: #FB3721,
    yellow: #FFCE00
);

.wp-block-cgb-widget-video  {
    .figure-container {
        position: relative;
        width: 100%;
        height: 225px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px dotted rgba(0, 0, 0, .2);
        background-size: cover;
        background-position: center;
    }

    .figure-label {
        background-color: rgba(0, 0, 0, .1);
        width: 100%;
        margin: 10px 0;
        padding: 10px 10px;
    }

    .figure-youtubeid {
        margin-top: 10px;
    }

    .fideo-field {
        margin: 10px 0;

        .fideo-field__label {
            margin-right: 10px;
            flex: 0 0 auto;
            font-weight: bold;
        }

        .fideo-field__field {
            border: 1px solid rgba(0, 0, 0, 0.1);
            flex: 1 1 100%;
            padding: 10px;
        }
    }
}