/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

$colors: (
    primary: #F2F2F2,
    secondary: #43A1FF,
    text: #070043,
    heading: #212121,
    button: #FFCE00,
    text-grey: #9B9B9B,
    border: #D3D3D3,
    accent: #EBEBEB,
    blue: #070043,
    white: #FFFFFF,
    red: #FB3721,
    yellow: #FFCE00
);

.wp-block-cgb-contact-cta  {
    border: 2px solid rgba(0, 0, 0, .2);
    padding: 30px;
    text-align: center;

    .title {
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
    }

    .text {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        .text__button {
            border-bottom: 2px solid yellow;
            margin-right: 20px;
            min-width: 100px;
        }
    }

    .btn {
        border-radius: 999px;
        background-color: map-get($colors, button);
        border: 2px solid map-get($colors, button);
        font-size: 15px;
        font-weight: 600;
        text-decoration: none;
        display: inline-block;
        padding: 18px 26px;
        outline: none;
        align-items: center;
        justify-content: space-between;
        line-height: 1.2;
        text-transform: uppercase;
        min-width: 200px;
        text-align: center;

        i {
            font-size: 24px;
            margin: -10px 0;
        }

        span + i {
            margin-left: 4px;
        }

        i + span {
            margin-left: 4px;
        }
    }
}